<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Passenger Login</h1>
        <form action="/login" method="post">
            <label for="passenger-id">Passenger ID:</label>
            <input type="number" id="passenger-id" name="passenger_id" required>
            <button type="submit">Login</button>
        </form>
        <a href="/main_menu" class="back-link">Back to Home</a>
    </div>
</body>
</html>